<h2>Carga dinámica de los partidos de la jornada</h2>

<div class='matches-block'>
  <section class='match-list-info'>
    <ul class='match-list'>
        <%= render :partial => 'bet', :collection => @bets %>
    </ul>
  </section>
  <section class='match-detail-block'>
  </section>
  <section class='match-overall-info'>
  </section>
</div>



