<h1>ASPECTOS TÉCNICOS DEL SISTEMA</h1>

<ul>
  <li><%#= link_to 'Partidos de la jornada', round_bets_path(@round) %></li>
  <li><%= link_to 'Acceso a Estadísticas LFP', STATISTICS_FRAME_URL, :class => 'iframe fancybox statistics' %> </li>
</ul>




