<div id="match_<%= @match.id %>" class='match-info'>
  <h2 class='match-header'>DETALLE DEL PARTIDO</h2>

  <div class='local-team'>
  <span class='team-name'>
    <h1><%= @match.local_team.name %></h1>
  </span>
  </div>

  <div class='visit-team'>
  <span class='team-name'>
    <h1><%= @match.visit_team.name %></h1>
  </span>
  </div>
</div>